<!DOCTYPE HTML>
<html>
	<head>
	{% load static from staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="HappyTree"/>
	<meta name="keywords" content="django,javascript" />
	<meta name="author" content="Holbrook(http://hi.baidu.com/new/loveless_yu_yy)"/>
	<!-- styles -->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
	<!-- script -->
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}" />

		<title>{% block page %}{% endblock %}</title>
		{% block header %}{% endblock %}
	</head>
	<body>
		<header>{% block title %}HappyTree{% endblock %}</header>
		<h2>{% block menu %}{% endblock %}</h2>
		<article>{% block content %}{% endblock %}</article>
		<footer>
		{% block footer %}
		<hr/>
		<p>欢迎光临！</p>
		{% endblock %}
		</footer>
	</body>
</html>
