{% extends "base.html" %}

{% block page %}首页{% endblock %}

{% block menu %}
	{% if navs %}
		{% for nav in navs %}
		<!--		<a href="{{ nav.url }}">{{ nav.name }}</a> 	-->
		{% endfor %}
	{% else %}
	<p>暂时没有导航菜单</p>
	{% endif %}
	<!--<a href="add">写日志</a>-->
{% endblock %}

{% block content %}
	{% if articles %}
		<p>日志</p>
		{% for article in articles %}
			<section id="article_id_{{ article.id }}" >
			<p><a href='{{ article.id }}/show' ><strong>{{ article.title }}</strong></a></p>
			<p><strong>{{ article.content }}</strong>
			<span><small>{{ article.tag }}</small></span></p>
			</section>
		{% endfor %}
	{% else %}
		<p>暂时还没有日志</p>
	{% endif %}
{% endblock %}
